<section class="main-content lg-back">
    <div class="container">
        <div class="about-sec">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-img">
                        <img src="../../../assets/images/resources/about-img.png" alt="">
                    </div><!--about-img end-->
                </div>
                <div class="col-lg-7">
                    <div class="about-cont">
                        <h2>About Me</h2>
                        <p>Welcome to my blog. My name is Duy, I am a Bachelor's student in the Software Development at the University of Science at Ho Chi Minh City and graduating in November 2020.</p> 
                        <p>Previously, I worked at IVC Vietnam with role as a trainee, where I worked on improve coding and teamwork skills, 
                            learning the process skills necessary to develop a project
                        </p>
                        <div class="more-abt">
                            <h3>My career</h3>
                            <p>After the intership period is over. I applied and got accepted into a Japanese company, Aureole Information Technology - AIT, as a Software Engineer. 
                                I have worked there for 2 years, experienced seven projects of the company.</p>
                            <p>I have learned coordinate with other departments to analyze, design, deploy
                                and install software systems for customers, compliance with product standards and quality regulations in
                                the working process.</p>
                            <p>My interests lie in solving problems related to large-scale distributed software systems.</p>

                            <ul class="social-links">
                                <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#" title=""><i class="fab fa-facebook-messenger"></i></a></li>
                            </ul>
                        </div>
                    </div><!--about-cont end-->
                    
                </div>
            </div>
        </div><!--about-sec end-->
    </div>
</section><!--main-content end-->